# Python cache and compiled files
__pycache__/
*.pyc

# Virtual environment folders
.venv/
venv/
env/

# Secrets file - VERY IMPORTANT
.env
.env.local
java-auth-service/.env

# Build artifacts
java-auth-service/target/

# IDE specific files (VS Code)
.vscode/

